### About Dataset
#### Context
##### Space Apps Moscow was held on April 29th & 30th. Thank you to the 175 people who joined the International Space Apps Challenge at this location!

### Content
##### The dataset contains such columns as: "wind direction", "wind speed", "humidity" and temperature. The response parameter that is to be predicted is: "Solar_radiation". It contains measurements for the past 4 months and you have to predict the level of solar radiation.

##### Just imagine that you've got solar energy batteries and you want to know will it be reasonable to use them in the future?

##### Acknowledgements
##### Thanks NASA for the dataset.

##### Inspiration
##### Predict the level of solar radiation.
##### Here are some intersecting dependences that i have figured out:

##### 1. Humidity & Solar_radiation.
##### 2.Temeperature & Solar_radiation.
##### The best result of accuracy I could get using cross-validation was only 55%.ion was only 55%.

In [1]:
import numpy as np
import pandas as pd

import re      # Regular expressions
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import optuna     # To find the optimal paramter to use in our xgboost
import xgboost as xgb

from sklearn.metrics import r2_score

In [2]:
#pip install xgboost

In [3]:
 SR_df= pd.read_csv(r"C:\Users\maseglo.com\Documents\The Data Science Studio\DS Projects\Solar Radiation\SolarPrediction.csv\SolarPrediction.csv")
SR_df

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00
...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,12/1/2016 12:00:00 AM,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00
32682,1480587301,12/1/2016 12:00:00 AM,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00
32683,1480587001,12/1/2016 12:00:00 AM,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00
32684,1480586702,12/1/2016 12:00:00 AM,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00
32685,1480586402,12/1/2016 12:00:00 AM,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00

In [4]:
SR_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UNIXTime                32686 non-null  int64
 1   Data                    32686 non-null  object
 2   Time                    32686 non-null  object
 3   Radiation               32686 non-null  float64
 4   Temperature             32686 non-null  int64
 5   Pressure                32686 non-null  float64
 6   Humidity                32686 non-null  int64
 7   WindDirection(Degrees)  32686 non-null  float64
 8   Speed                   32686 non-null  float64
 9   TimeSunRise             32686 non-null  object
 10  TimeSunSet              32686 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 2.7+ MB

In [5]:
SR_df.describe()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,3.268600e+04,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000
mean,1.478047e+09,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869
std,3.005037e+06,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474
min,1.472724e+09,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000
25%,1.475546e+09,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000
50%,1.478026e+09,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000
75%,1.480480e+09,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000
max,1.483265e+09,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000

In [6]:
SR_df.isna().sum()

UNIXTime                  0
Data                      0
Time                      0
Radiation                 0
Temperature               0
Pressure                  0
Humidity                  0
WindDirection(Degrees)    0
Speed                     0
TimeSunRise               0
TimeSunSet                0
dtype: int64

In [7]:
print("Total missing values:", SR_df.isna().sum().sum())

Total missing values: 0

### Feature Engineering

In [8]:
SR_df

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 12:00:00 AM,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00
1,1475229023,9/29/2016 12:00:00 AM,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00
2,1475228726,9/29/2016 12:00:00 AM,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00
3,1475228421,9/29/2016 12:00:00 AM,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00
4,1475228124,9/29/2016 12:00:00 AM,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00
...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,12/1/2016 12:00:00 AM,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00
32682,1480587301,12/1/2016 12:00:00 AM,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00
32683,1480587001,12/1/2016 12:00:00 AM,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00
32684,1480586702,12/1/2016 12:00:00 AM,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00
32685,1480586402,12/1/2016 12:00:00 AM,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00

In [9]:
SR_df["Data"]

0        9/29/2016 12:00:00 AM
1        9/29/2016 12:00:00 AM
2        9/29/2016 12:00:00 AM
3        9/29/2016 12:00:00 AM
4        9/29/2016 12:00:00 AM
                 ...
32681    12/1/2016 12:00:00 AM
32682    12/1/2016 12:00:00 AM
32683    12/1/2016 12:00:00 AM
32684    12/1/2016 12:00:00 AM
32685    12/1/2016 12:00:00 AM
Name: Data, Length: 32686, dtype: object

In [10]:
SR_df['Data'].apply(lambda x: re.search(r'^\d+', x).group(0))

0         9
1         9
2         9
3         9
4         9
         ..
32681    12
32682    12
32683    12
32684    12
32685    12
Name: Data, Length: 32686, dtype: object

In [11]:
SR_df['Data'].apply(lambda x: re.search(r'(?<=\/)\d+(?=\/)', x).group(0))

0        29
1        29
2        29
3        29
4        29
         ..
32681     1
32682     1
32683     1
32684     1
32685     1
Name: Data, Length: 32686, dtype: object

In [12]:
SR_df['Data'].apply(lambda x: re.search(r'(?<=\/)\d+(?=\s)', x).group(0))

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
32681    2016
32682    2016
32683    2016
32684    2016
32685    2016
Name: Data, Length: 32686, dtype: object

In [13]:
SR_df['Month'] = SR_df['Data'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)
SR_df['Day'] = SR_df['Data'].apply(lambda x: re.search(r'(?<=\/)\d+(?=\/)', x).group(0)).astype(int)
SR_df['Year'] = SR_df['Data'].apply(lambda x: re.search(r'(?<=\/)\d+(?=\s)', x).group(0)).astype(int)

In [14]:
SR_df = SR_df.drop('Data', axis=1)

In [15]:
SR_df

,UNIXTime,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet,Month,Day,Year
0,1475229326,23:55:26,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00,9,29,2016
1,1475229023,23:50:23,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00,9,29,2016
2,1475228726,23:45:26,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00,9,29,2016
3,1475228421,23:40:21,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00,9,29,2016
4,1475228124,23:35:24,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00,9,29,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,00:20:04,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00,12,1,2016
32682,1480587301,00:15:01,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00,12,1,2016
32683,1480587001,00:10:01,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00,12,1,2016
32684,1480586702,00:05:02,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00,12,1,2016
32685,1480586402,00:00:02,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00,12,1,2016

In [16]:
SR_df['Time'].apply(lambda x: re.search(r'^(\d{1,2})(?=:\d{2}:\d{2})', x).group(0)).astype(int)

0        23
1        23
2        23
3        23
4        23
         ..
32681     0
32682     0
32683     0
32684     0
32685     0
Name: Time, Length: 32686, dtype: int32

In [17]:
SR_df['Time'].apply(lambda x: re.search(r'(?<=:)(\d{2})(?=:\d{2})', x).group(0)).astype(int)

0        55
1        50
2        45
3        40
4        35
         ..
32681    20
32682    15
32683    10
32684     5
32685     0
Name: Time, Length: 32686, dtype: int32

In [18]:
SR_df['Time'].apply(lambda x: re.search(r'(?<=:\d{2}:)(\d{2})$', x).group(0)).astype(int)

0        26
1        23
2        26
3        21
4        24
         ..
32681     4
32682     1
32683     1
32684     2
32685     2
Name: Time, Length: 32686, dtype: int32

In [19]:
SR_df['Hour'] = SR_df['Time'].apply(lambda x: re.search(r'^(\d{1,2})(?=:\d{2}:\d{2})', x).group(0)).astype(int)
SR_df['Minute'] = SR_df['Time'].apply(lambda x: re.search(r'(?<=:)(\d{2})(?=:\d{2})', x).group(0)).astype(int)
SR_df['Second'] = SR_df['Time'].apply(lambda x: re.search(r'(?<=:\d{2}:)(\d{2})$', x).group(0)).astype(int)

### Drop the Time column

In [20]:
SR_df = SR_df.drop('Time', axis=1)

In [21]:
SR_df

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet,Month,Day,Year,Hour,Minute,Second
0,1475229326,1.21,48,30.46,59,177.39,5.62,06:13:00,18:13:00,9,29,2016,23,55,26
1,1475229023,1.21,48,30.46,58,176.78,3.37,06:13:00,18:13:00,9,29,2016,23,50,23
2,1475228726,1.23,48,30.46,57,158.75,3.37,06:13:00,18:13:00,9,29,2016,23,45,26
3,1475228421,1.21,48,30.46,60,137.71,3.37,06:13:00,18:13:00,9,29,2016,23,40,21
4,1475228124,1.17,48,30.46,62,104.95,5.62,06:13:00,18:13:00,9,29,2016,23,35,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,1.22,44,30.43,102,145.42,6.75,06:41:00,17:42:00,12,1,2016,0,20,4
32682,1480587301,1.17,44,30.42,102,117.78,6.75,06:41:00,17:42:00,12,1,2016,0,15,1
32683,1480587001,1.20,44,30.42,102,145.19,9.00,06:41:00,17:42:00,12,1,2016,0,10,1
32684,1480586702,1.23,44,30.42,101,164.19,7.87,06:41:00,17:42:00,12,1,2016,0,5,2
32685,1480586402,1.20,44,30.43,101,83.59,3.37,06:41:00,17:42:00,12,1,2016,0,0,2

In [22]:
SR_df['TimeSunRise'].apply(lambda x: re.search(r'^(\d{1,2})(?=:\d{2}:\d{2})', x).group(0)).astype(int)

0        6
1        6
2        6
3        6
4        6
        ..
32681    6
32682    6
32683    6
32684    6
32685    6
Name: TimeSunRise, Length: 32686, dtype: int32

In [23]:
SR_df['TimeSunRise'].apply(lambda x: int(re.search(r'^\d{1,2}:(\d{2}):\d{2}$', x).group(1))).astype(int)

0        13
1        13
2        13
3        13
4        13
         ..
32681    41
32682    41
32683    41
32684    41
32685    41
Name: TimeSunRise, Length: 32686, dtype: int32

In [24]:
SR_df['SunriseHour'] = SR_df['TimeSunRise'].apply(lambda x: re.search(r'^(\d{1,2})(?=:\d{2}:\d{2})', x).group(0)).astype(int)
SR_df['SunriseMinute'] = SR_df['TimeSunRise'].apply(lambda x: int(re.search(r'^\d{1,2}:(\d{2}):\d{2}$', x).group(1))).astype(int)

### Drop the TimeSunRise column

In [25]:
SR_df = SR_df.drop('TimeSunRise', axis=1)

In [26]:
SR_df['TimeSunSet'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)

0        18
1        18
2        18
3        18
4        18
         ..
32681    17
32682    17
32683    17
32684    17
32685    17
Name: TimeSunSet, Length: 32686, dtype: int32

In [27]:
SR_df['TimeSunSet'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(int)

0        13
1        13
2        13
3        13
4        13
         ..
32681    42
32682    42
32683    42
32684    42
32685    42
Name: TimeSunSet, Length: 32686, dtype: int32

In [28]:
SR_df['SunsetHour'] = SR_df['TimeSunSet'].apply(lambda x: re.search(r'^\d+', x).group(0)).astype(int)
SR_df['SunsetMinute'] = SR_df['TimeSunSet'].apply(lambda x: re.search(r'(?<=:)\d+(?=:)', x).group(0)).astype(int)
SR_df = SR_df.drop('TimeSunSet', axis=1)

In [29]:
SR_df

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,Month,Day,Year,Hour,Minute,Second,SunriseHour,SunriseMinute,SunsetHour,SunsetMinute
0,1475229326,1.21,48,30.46,59,177.39,5.62,9,29,2016,23,55,26,6,13,18,13
1,1475229023,1.21,48,30.46,58,176.78,3.37,9,29,2016,23,50,23,6,13,18,13
2,1475228726,1.23,48,30.46,57,158.75,3.37,9,29,2016,23,45,26,6,13,18,13
3,1475228421,1.21,48,30.46,60,137.71,3.37,9,29,2016,23,40,21,6,13,18,13
4,1475228124,1.17,48,30.46,62,104.95,5.62,9,29,2016,23,35,24,6,13,18,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,1480587604,1.22,44,30.43,102,145.42,6.75,12,1,2016,0,20,4,6,41,17,42
32682,1480587301,1.17,44,30.42,102,117.78,6.75,12,1,2016,0,15,1,6,41,17,42
32683,1480587001,1.20,44,30.42,102,145.19,9.00,12,1,2016,0,10,1,6,41,17,42
32684,1480586702,1.23,44,30.42,101,164.19,7.87,12,1,2016,0,5,2,6,41,17,42
32685,1480586402,1.20,44,30.43,101,83.59,3.37,12,1,2016,0,0,2,6,41,17,42

In [30]:
SR_df.dtypes

UNIXTime                    int64
Radiation                 float64
Temperature                 int64
Pressure                  float64
Humidity                    int64
WindDirection(Degrees)    float64
Speed                     float64
Month                       int32
Day                         int32
Year                        int32
Hour                        int32
Minute                      int32
Second                      int32
SunriseHour                 int32
SunriseMinute               int32
SunsetHour                  int32
SunsetMinute                int32
dtype: object

In [31]:
SR_df['Year'].unique()

array([2016])

In [32]:
SR_df['SunriseHour'].unique()

array([6])

In [33]:
SR_df = SR_df.drop(['Year', 'SunriseHour'], axis=1)

### Splitting and Scaling

In [34]:
y = SR_df['Radiation'].copy()
X = SR_df.drop('Radiation', axis=1).copy()

In [35]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

##### Here we notice that two columns 'Year' and 'SunriseHour' do not contain useful information. So we go up before the split and drop them

In [36]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.937753,-0.500439,0.678974,-0.616253,0.407620,-0.178738,-1.391540,1.512248,1.655482,1.589236,0.660811,-0.943425,1.369126,-1.525765
1,-0.937854,-0.500439,0.678974,-0.654730,0.400285,-0.823359,-1.391540,1.512248,1.655482,1.299687,0.429167,-0.943425,1.369126,-1.525765
2,-0.937953,-0.500439,0.678974,-0.693206,0.183490,-0.823359,-1.391540,1.512248,1.655482,1.010138,0.660811,-0.943425,1.369126,-1.525765
3,-0.938054,-0.500439,0.678974,-0.577776,-0.069497,-0.823359,-1.391540,1.512248,1.655482,0.720589,0.274737,-0.943425,1.369126,-1.525765
4,-0.938153,-0.500439,0.678974,-0.500823,-0.463407,-0.178738,-1.391540,1.512248,1.655482,0.431040,0.506381,-0.943425,1.369126,-1.525765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32681,0.845373,-1.145490,0.130250,1.038241,0.023209,0.145006,1.344003,-1.701824,-1.672098,-0.437606,-1.037912,0.860876,-0.730393,0.293766
32682,0.845273,-1.145490,-0.052658,1.038241,-0.309138,0.145006,1.344003,-1.701824,-1.672098,-0.727155,-1.269556,0.860876,-0.730393,0.293766
32683,0.845173,-1.145490,-0.052658,1.038241,0.020443,0.789627,1.344003,-1.701824,-1.672098,-1.016704,-1.269556,0.860876,-0.730393,0.293766
32684,0.845073,-1.145490,-0.052658,0.999764,0.248901,0.465884,1.344003,-1.701824,-1.672098,-1.306253,-1.192341,0.860876,-0.730393,0.293766
32685,0.844973,-1.145490,0.130250,0.999764,-0.720242,-0.823359,1.344003,-1.701824,-1.672098,-1.595802,-1.192341,0.860876,-0.730393,0.293766

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=100)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, train_size=0.8, random_state=200)

In [38]:
print(X_train.shape[0])
print(X_val.shape[0])
print(X_test.shape[0])

18304
4576
9806

In [39]:
# Lets put our feature and the label of our data in one place. 

dtrain = xgb.DMatrix(X_train, label = y_train)
dval = xgb.DMatrix(X_val, label = y_val)
dtest = xgb.DMatrix(X_test, label = y_test)

In [40]:
dtrain

#### Training

### Hyhperparameter Search

In [47]:
def get_model_rmse(params):
    model = xgb.train(params, dtrain, num_boost_round=100, evals=[(dval, 'eval')], early_stopping_rounds=10, verbose_eval=0)
    results = model.eval(dval)
    rmse = float(re.search(r'[\d.]+$', results).group(0))  # Use built-in float type instead of np.float
    return rmse

In [42]:
#params = {'learning_rate': 0.01, 'max_depth': 6, 'alpha':0.01, 'lambda':1.0}
#get_model_rmse(params)

In [48]:
def objective(trial):
    learning_rate = trial.suggest_loguniform('learning_rate', 0.00001, 10.0)
    max_depth = trial.suggest_int('max_depth', 4, 8)
    l1_reg = trial.suggest_loguniform('l1_reg', 0.00001, 10.0)
    l2_reg = trial.suggest_loguniform('l2_reg', 0.00001, 10.0)
    
    params = {'learning_rate': learning_rate, 'max_depth': max_depth, 'alpha': l1_reg, 'lambda': l2_reg}
    
    return get_model_rmse(params)


# Suggestion from chatgpt to fix the error downn down below
# best_params = {'learning_rate': 0.1, 'max_depth': 6, 'alpha': 0.1, 'lambda': 0.1}

In [49]:
# Create uptuna

study = optuna.create_study()
study.optimize(objective, n_trials=100, show_progress_bar=True)

[I 2024-05-27 21:20:23,161] A new study created in memory with name: no-name-45f3a0d0-430d-49d4-a9c8-eb58381b5c0f

  0%|          | 0/100 [00:00<?, ?it/s]

C:\Users\maseglo.com\AppData\Local\Temp\ipykernel_10680\647168461.py:2: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use suggest_float(..., log=True) instead.
  learning_rate = trial.suggest_loguniform('learning_rate', 0.00001, 10.0)
C:\Users\maseglo.com\AppData\Local\Temp\ipykernel_10680\647168461.py:4: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use suggest_float(..., log=True) instead.
  l1_reg = trial.suggest_loguniform('l1_reg', 0.00001, 10.0)
C:\Users\maseglo.com\AppData\Local\Temp\ipykernel_10680\647168461.py:5: FutureWarning: suggest_loguniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use suggest_float(..., log=True) instead.
  l2_reg = trial.suggest_loguniform('l2_reg', 0.00001, 10.0)

[I 2024-05-27 21:20:23,502] Trial 0 finished with value: 256.69618148652125 and parameters: {'learning_rate': 0.0029742955885596776, 'max_depth': 4, 'l1_reg': 3.854320059635691e-05, 'l2_reg': 0.0018909839573128414}. Best is trial 0 with value: 256.69618148652125.
[I 2024-05-27 21:20:23,543] Trial 1 finished with value: 494456.0623472606 and parameters: {'learning_rate': 2.9713891301507815, 'max_depth': 4, 'l1_reg': 0.0003692815111412111, 'l2_reg': 1.531164014756786e-05}. Best is trial 0 with value: 256.69618148652125.
[I 2024-05-27 21:20:23,801] Trial 2 finished with value: 266.81942238613 and parameters: {'learning_rate': 0.0024274782245447273, 'max_depth': 4, 'l1_reg': 0.0059541861520519814, 'l2_reg': 0.0001193664162981116}. Best is trial 0 with value: 256.69618148652125.
[I 2024-05-27 21:20:24,582] Trial 3 finished with value: 317.2259435462866 and parameters: {'learning_rate': 7.973805708553645e-05, 'max_depth': 8, 'l1_reg': 0.6262249102810682, 'l2_reg': 3.500193410779588e-05}. Best is trial 0 with value: 256.69618148652125.
[I 2024-05-27 21:20:24,723] Trial 4 finished with value: 95.92490621011359 and parameters: {'learning_rate': 0.5156309538226534, 'max_depth': 8, 'l1_reg': 0.0667204333261165, 'l2_reg': 0.017668741105018017}. Best is trial 4 with value: 95.92490621011359.
[I 2024-05-27 21:20:24,988] Trial 5 finished with value: 244.8062291256938 and parameters: {'learning_rate': 0.003680690459055808, 'max_depth': 4, 'l1_reg': 0.09645781947366079, 'l2_reg': 0.03621127616143693}. Best is trial 4 with value: 95.92490621011359.
[I 2024-05-27 21:20:25,238] Trial 6 finished with value: 221.8687703885279 and parameters: {'learning_rate': 0.005223417653644189, 'max_depth': 4, 'l1_reg': 0.11676992772276915, 'l2_reg': 0.0009290555326368825}. Best is trial 4 with value: 95.92490621011359.
[I 2024-05-27 21:20:25,504] Trial 7 finished with value: 115.1771081069829 and parameters: {'learning_rate': 0.038698187624027186, 'max_depth': 4, 'l1_reg': 4.1494096535803093e-05, 'l2_reg': 8.88046331528814}. Best is trial 4 with value: 95.92490621011359.
[I 2024-05-27 21:20:25,816] Trial 8 finished with value: 90.05535095851357 and parameters: {'learning_rate': 0.21256303749574568, 'max_depth': 6, 'l1_reg': 3.7199953677734223, 'l2_reg': 0.04821278906620364}. Best is trial 8 with value: 90.05535095851357.
[I 2024-05-27 21:20:26,082] Trial 9 finished with value: 310.54123812482 and parameters: {'learning_rate': 0.0003648295236519101, 'max_depth': 4, 'l1_reg': 0.027773338885240927, 'l2_reg': 0.19337031549715328}. Best is trial 8 with value: 90.05535095851357.
[I 2024-05-27 21:20:26,520] Trial 10 finished with value: 91.03567085294226 and parameters: {'learning_rate': 0.165163880578505, 'max_depth': 6, 'l1_reg': 5.723500063340625, 'l2_reg': 0.949040417009657}. Best is trial 8 with value: 90.05535095851357.
[I 2024-05-27 21:20:26,974] Trial 11 finished with value: 88.62753595851623 and parameters: {'learning_rate': 0.19290727626637097, 'max_depth': 6, 'l1_reg': 4.991708956786795, 'l2_reg': 1.3157987041562458}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:27,083] Trial 12 finished with value: 78109996937.77977 and parameters: {'learning_rate': 6.848394066796969, 'max_depth': 6, 'l1_reg': 8.118313094711926, 'l2_reg': 1.0153692250995536}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:27,442] Trial 13 finished with value: 89.0503522551812 and parameters: {'learning_rate': 0.3557756439224107, 'max_depth': 7, 'l1_reg': 0.9937458785437967, 'l2_reg': 9.309499139264418}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:28,067] Trial 14 finished with value: 92.0277249176414 and parameters: {'learning_rate': 0.04276306350966566, 'max_depth': 7, 'l1_reg': 1.046983198199098, 'l2_reg': 8.287459931615693}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:28,223] Trial 15 finished with value: 106.04036308294269 and parameters: {'learning_rate': 0.9595992241641298, 'max_depth': 7, 'l1_reg': 0.003505001749759857, 'l2_reg': 0.8640607154816391}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:28,848] Trial 16 finished with value: 92.66385012163138 and parameters: {'learning_rate': 0.03954997388490867, 'max_depth': 7, 'l1_reg': 0.6664106611703301, 'l2_reg': 2.5696345203248825}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:29,129] Trial 17 finished with value: 96.48806229551356 and parameters: {'learning_rate': 0.5634324109350575, 'max_depth': 5, 'l1_reg': 0.8279856843867781, 'l2_reg': 0.20145013735561854}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:29,505] Trial 18 finished with value: 319.01870603709506 and parameters: {'learning_rate': 1.640682389613093e-05, 'max_depth': 5, 'l1_reg': 0.00042326466243466075, 'l2_reg': 0.1890667630726472}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:29,630] Trial 19 finished with value: 8910346902592.018 and parameters: {'learning_rate': 9.965837616262498, 'max_depth': 7, 'l1_reg': 0.2779321685691898, 'l2_reg': 0.0038549827374384986}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:29,817] Trial 20 finished with value: 123.91134691329779 and parameters: {'learning_rate': 1.8277567359723663, 'max_depth': 5, 'l1_reg': 3.236824435738851, 'l2_reg': 2.7439008063881722}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:30,239] Trial 21 finished with value: 90.07646995364905 and parameters: {'learning_rate': 0.15835370620823555, 'max_depth': 6, 'l1_reg': 2.6410643930572077, 'l2_reg': 0.048385412953846026}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:30,708] Trial 22 finished with value: 91.24415311488431 and parameters: {'learning_rate': 0.1578688605660519, 'max_depth': 6, 'l1_reg': 9.922545837079213, 'l2_reg': 0.30075178040785644}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:31,333] Trial 23 finished with value: 118.22491340180488 and parameters: {'learning_rate': 0.01656424693544139, 'max_depth': 7, 'l1_reg': 2.0274848329017447, 'l2_reg': 2.6497014182294043}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:31,693] Trial 24 finished with value: 93.61789419357149 and parameters: {'learning_rate': 0.2397353762219939, 'max_depth': 5, 'l1_reg': 0.2705888524882766, 'l2_reg': 0.05359801496824791}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:32,177] Trial 25 finished with value: 93.76529741860473 and parameters: {'learning_rate': 0.057494541736684834, 'max_depth': 6, 'l1_reg': 0.023767518417846956, 'l2_reg': 0.008508042264718458}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:32,286] Trial 26 finished with value: 46805.96347170222 and parameters: {'learning_rate': 2.602029481899698, 'max_depth': 6, 'l1_reg': 1.5620334705841648, 'l2_reg': 4.710272579529815}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:33,099] Trial 27 finished with value: 126.70557711434847 and parameters: {'learning_rate': 0.013612534286638125, 'max_depth': 8, 'l1_reg': 0.30564684290376987, 'l2_reg': 0.6191121064560882}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:33,349] Trial 28 finished with value: 96.12297415333457 and parameters: {'learning_rate': 0.528713415199139, 'max_depth': 7, 'l1_reg': 4.061927951618217, 'l2_reg': 0.08753432994594554}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:33,849] Trial 29 finished with value: 282.93673377145836 and parameters: {'learning_rate': 0.0014563334976051868, 'max_depth': 6, 'l1_reg': 0.001581747809996633, 'l2_reg': 0.0005846232205345865}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:34,223] Trial 30 finished with value: 98.0069131745368 and parameters: {'learning_rate': 0.08153252919415852, 'max_depth': 5, 'l1_reg': 1.0548057689608554e-05, 'l2_reg': 0.015642729931450154}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:34,677] Trial 31 finished with value: 89.84557457002968 and parameters: {'learning_rate': 0.2659662446558624, 'max_depth': 6, 'l1_reg': 4.383943006724486, 'l2_reg': 0.004309317943408534}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:34,833] Trial 32 finished with value: 118.43860092314397 and parameters: {'learning_rate': 1.1563854494487125, 'max_depth': 6, 'l1_reg': 3.1547380470364907, 'l2_reg': 0.007017482750023358}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:35,130] Trial 33 finished with value: 92.36374387652444 and parameters: {'learning_rate': 0.35875898306068416, 'max_depth': 7, 'l1_reg': 9.89100682227095, 'l2_reg': 0.002459952599624659}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:35,239] Trial 34 finished with value: 22705268.84034435 and parameters: {'learning_rate': 3.781849291775047, 'max_depth': 6, 'l1_reg': 1.3687593853916837, 'l2_reg': 0.00038668626877655734}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:35,630] Trial 35 finished with value: 96.39826088254675 and parameters: {'learning_rate': 0.11232921842628682, 'max_depth': 5, 'l1_reg': 0.36643727039567364, 'l2_reg': 0.00016829093996658718}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:35,786] Trial 36 finished with value: 109.15935758497181 and parameters: {'learning_rate': 0.9479771837158698, 'max_depth': 8, 'l1_reg': 3.9713467427807627, 'l2_reg': 1.2424910314875338e-05}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:36,271] Trial 37 finished with value: 103.39226656840968 and parameters: {'learning_rate': 0.027204003833067193, 'max_depth': 6, 'l1_reg': 0.6006389261513256, 'l2_reg': 0.44264739201766584}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:36,645] Trial 38 finished with value: 91.45121734533664 and parameters: {'learning_rate': 0.3151910308000736, 'max_depth': 7, 'l1_reg': 0.12893052657087273, 'l2_reg': 0.0014319497545411824}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:37,270] Trial 39 finished with value: 217.61961193039744 and parameters: {'learning_rate': 0.004750837694402699, 'max_depth': 7, 'l1_reg': 0.03556832559532658, 'l2_reg': 7.358848622965643e-05}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:38,021] Trial 40 finished with value: 289.8487500335194 and parameters: {'learning_rate': 0.001136445061906647, 'max_depth': 8, 'l1_reg': 1.6674664407198079, 'l2_reg': 1.9015591130834488}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:38,552] Trial 41 finished with value: 91.14638132044244 and parameters: {'learning_rate': 0.10538874829107789, 'max_depth': 6, 'l1_reg': 2.3061061767262814, 'l2_reg': 0.01938971576302284}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:38,880] Trial 42 finished with value: 90.78219886155024 and parameters: {'learning_rate': 0.23022561393137644, 'max_depth': 6, 'l1_reg': 6.065322810483841, 'l2_reg': 0.05460058238165704}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:39,177] Trial 43 finished with value: 95.75787758465465 and parameters: {'learning_rate': 0.5575491929361124, 'max_depth': 6, 'l1_reg': 5.866393961940339, 'l2_reg': 0.024662336979214758}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:40,067] Trial 44 finished with value: 106.94388484655619 and parameters: {'learning_rate': 0.02386181320890281, 'max_depth': 6, 'l1_reg': 0.5787225351519999, 'l2_reg': 0.005105289180115299}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:40,896] Trial 45 finished with value: 180.7499762405032 and parameters: {'learning_rate': 0.008315534958162486, 'max_depth': 5, 'l1_reg': 1.1341661927920648, 'l2_reg': 0.08111605371698424}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:41,583] Trial 46 finished with value: 93.45628564806427 and parameters: {'learning_rate': 0.06950051157507862, 'max_depth': 6, 'l1_reg': 3.032467361087442, 'l2_reg': 5.282640194036654}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:41,708] Trial 47 finished with value: 121.52475415924577 and parameters: {'learning_rate': 1.4406205672087022, 'max_depth': 6, 'l1_reg': 0.11330010157548362, 'l2_reg': 1.5096422544628427}. Best is trial 11 with value: 88.62753595851623.
[I 2024-05-27 21:20:42,318] Trial 48 finished with value: 88.1541353719709 and parameters: {'learning_rate': 0.17628448229039348, 'max_depth': 7, 'l1_reg': 5.563645338591149, 'l2_reg': 0.15110545392237945}. Best is trial 48 with value: 88.1541353719709.
[I 2024-05-27 21:20:42,459] Trial 49 finished with value: 6682319.130153334 and parameters: {'learning_rate': 3.489879368022141, 'max_depth': 7, 'l1_reg': 6.023782940844977, 'l2_reg': 0.14167453444392608}. Best is trial 48 with value: 88.1541353719709.
[I 2024-05-27 21:20:42,678] Trial 50 finished with value: 98.33062471452224 and parameters: {'learning_rate': 0.7975458855460162, 'max_depth': 7, 'l1_reg': 0.00012641955766442485, 'l2_reg': 9.703211653657364}. Best is trial 48 with value: 88.1541353719709.
[I 2024-05-27 21:20:43,584] Trial 51 finished with value: 88.90614460066539 and parameters: {'learning_rate': 0.17277752534685692, 'max_depth': 7, 'l1_reg': 2.0674022781783057, 'l2_reg': 0.04447763672110821}. Best is trial 48 with value: 88.1541353719709.
[I 2024-05-27 21:20:44,068] Trial 52 finished with value: 91.56952778795059 and parameters: {'learning_rate': 0.35632776540907357, 'max_depth': 7, 'l1_reg': 1.0323457179618125, 'l2_reg': 0.011553038364720514}. Best is trial 48 with value: 88.1541353719709.
[I 2024-05-27 21:20:45,224] Trial 53 finished with value: 86.56539852636494 and parameters: {'learning_rate': 0.14227553039108867, 'max_depth': 8, 'l1_reg': 5.079378071774209, 'l2_reg': 0.34433297161655213}. Best is trial 53 with value: 86.56539852636494.
[I 2024-05-27 21:20:45,865] Trial 54 finished with value: 87.54717963246783 and parameters: {'learning_rate': 0.12161672153658953, 'max_depth': 8, 'l1_reg': 5.367459096353837, 'l2_reg': 0.3025249747626796}. Best is trial 53 with value: 86.56539852636494.
[I 2024-05-27 21:20:46,490] Trial 55 finished with value: 86.26547403377732 and parameters: {'learning_rate': 0.11876306786198564, 'max_depth': 8, 'l1_reg': 8.020540033929082, 'l2_reg': 0.3440318282523522}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:47,677] Trial 56 finished with value: 89.3548786636401 and parameters: {'learning_rate': 0.04361871105952447, 'max_depth': 8, 'l1_reg': 9.789838259185471, 'l2_reg': 0.3538291438180506}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:48,505] Trial 57 finished with value: 87.80351344013914 and parameters: {'learning_rate': 0.11471154229402938, 'max_depth': 8, 'l1_reg': 2.1422556061671085, 'l2_reg': 0.13819826736732782}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:49,661] Trial 58 finished with value: 87.60080808325617 and parameters: {'learning_rate': 0.10206041069794862, 'max_depth': 8, 'l1_reg': 6.200673505777717, 'l2_reg': 0.5871530560459686}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:50,551] Trial 59 finished with value: 93.06417759114066 and parameters: {'learning_rate': 0.028037051027627727, 'max_depth': 8, 'l1_reg': 6.282644338707211, 'l2_reg': 0.5956661180743072}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:51,427] Trial 60 finished with value: 86.42433848724129 and parameters: {'learning_rate': 0.10153035322730808, 'max_depth': 8, 'l1_reg': 0.44918194523774874, 'l2_reg': 0.1526715302682838}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:52,005] Trial 61 finished with value: 87.73363193224873 and parameters: {'learning_rate': 0.12507140317681545, 'max_depth': 8, 'l1_reg': 2.3233450668916267, 'l2_reg': 0.1346408681805862}. Best is trial 55 with value: 86.26547403377732.
[I 2024-05-27 21:20:52,755] Trial 62 finished with value: 86.10956224972841 and parameters: {'learning_rate': 0.104708567352011, 'max_depth': 8, 'l1_reg': 2.2481556943115426, 'l2_reg': 0.2578528346726766}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:53,599] Trial 63 finished with value: 88.24912013517006 and parameters: {'learning_rate': 0.059059642256073804, 'max_depth': 8, 'l1_reg': 0.7486885178646895, 'l2_reg': 0.2725027043102616}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:54,443] Trial 64 finished with value: 156.96541105795131 and parameters: {'learning_rate': 0.00945206042647824, 'max_depth': 8, 'l1_reg': 0.01202493878725253, 'l2_reg': 0.7630022358833644}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:55,505] Trial 65 finished with value: 86.7628262924422 and parameters: {'learning_rate': 0.10527916445009286, 'max_depth': 8, 'l1_reg': 3.145053811573954, 'l2_reg': 0.08943379371088432}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:56,459] Trial 66 finished with value: 107.31686545667667 and parameters: {'learning_rate': 0.018266372560602748, 'max_depth': 8, 'l1_reg': 3.2838879185041274, 'l2_reg': 0.0881675566858509}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:57,350] Trial 67 finished with value: 86.5624573771275 and parameters: {'learning_rate': 0.0836464397653156, 'max_depth': 8, 'l1_reg': 1.4716772985319042, 'l2_reg': 0.46350620846577595}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:58,256] Trial 68 finished with value: 88.08800459235172 and parameters: {'learning_rate': 0.04296329283342634, 'max_depth': 8, 'l1_reg': 0.45116413287040236, 'l2_reg': 0.2506947097050643}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:20:59,147] Trial 69 finished with value: 86.93212748302203 and parameters: {'learning_rate': 0.0656295314893982, 'max_depth': 8, 'l1_reg': 0.16613708225018042, 'l2_reg': 0.42608822911780936}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:00,069] Trial 70 finished with value: 87.10584449074526 and parameters: {'learning_rate': 0.06256575246963614, 'max_depth': 8, 'l1_reg': 0.06116621021493624, 'l2_reg': 1.1529178568883507}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:00,976] Trial 71 finished with value: 87.46779350300174 and parameters: {'learning_rate': 0.06865053487755554, 'max_depth': 8, 'l1_reg': 0.19927560139327202, 'l2_reg': 1.0249481591173493}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:01,914] Trial 72 finished with value: 89.92154754630847 and parameters: {'learning_rate': 0.03628308573718736, 'max_depth': 8, 'l1_reg': 0.05533539499607025, 'l2_reg': 1.3779873257838091}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:02,758] Trial 73 finished with value: 86.5444077864779 and parameters: {'learning_rate': 0.06762774125909726, 'max_depth': 8, 'l1_reg': 0.1901644283474885, 'l2_reg': 0.3908282099774557}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:03,602] Trial 74 finished with value: 125.30735630861474 and parameters: {'learning_rate': 0.013849308390828262, 'max_depth': 8, 'l1_reg': 0.1892055492331431, 'l2_reg': 0.4442424010377677}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:04,008] Trial 75 finished with value: 93.2099029065066 and parameters: {'learning_rate': 0.4113870440326752, 'max_depth': 8, 'l1_reg': 1.3503676644661937, 'l2_reg': 0.40000144741056753}. Best is trial 62 with value: 86.10956224972841.
[I 2024-05-27 21:21:04,977] Trial 76 finished with value: 86.6742306305495 and parameters: {'learning_rate': 0.08866145926801298, 'max_depth': 8, 'l1_reg': 0.40725485661917965, 'l2_reg': 0.19819955683052717}. Best is trial 62 with value: 86.10956224972841.

In [50]:
best_params = study.best_params
best_params

{'learning_rate': 0.104708567352011,
 'max_depth': 8,
 'l1_reg': 2.2481556943115426,
 'l2_reg': 0.2578528346726766}

In [51]:
model = xgb.train(best_params, dtrain, num_boost_round=10000, evals=[(dval, 'eval')], early_stopping_rounds=10)

[0]	eval-rmse:290.49921
[1]	eval-rmse:264.85540
[2]	eval-rmse:242.39497
[3]	eval-rmse:222.38707
[4]	eval-rmse:204.60859
[5]	eval-rmse:189.10599
[6]	eval-rmse:175.52499
[7]	eval-rmse:163.88757
[8]	eval-rmse:153.60790
[9]	eval-rmse:144.62668

C:\Users\maseglo.com\anaconda3\Lib\site-packages\xgboost\core.py:160: UserWarning: [21:22:43] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "l1_reg", "l2_reg" } are not used.

  warnings.warn(smsg, UserWarning)

[10]	eval-rmse:137.01923
[11]	eval-rmse:130.18511
[12]	eval-rmse:124.39975
[13]	eval-rmse:119.42400
[14]	eval-rmse:114.96764
[15]	eval-rmse:111.29477
[16]	eval-rmse:108.09666
[17]	eval-rmse:105.34323
[18]	eval-rmse:103.03035
[19]	eval-rmse:101.14566
[20]	eval-rmse:99.36025
[21]	eval-rmse:97.80635
[22]	eval-rmse:96.50223
[23]	eval-rmse:95.21179
[24]	eval-rmse:94.04452
[25]	eval-rmse:93.27268
[26]	eval-rmse:92.45336
[27]	eval-rmse:91.71340
[28]	eval-rmse:91.12964
[29]	eval-rmse:90.84706
[30]	eval-rmse:90.61381
[31]	eval-rmse:90.42513
[32]	eval-rmse:90.01535
[33]	eval-rmse:89.88875
[34]	eval-rmse:89.73426
[35]	eval-rmse:89.61389
[36]	eval-rmse:89.49815
[37]	eval-rmse:89.44433
[38]	eval-rmse:89.35416
[39]	eval-rmse:89.27047
[40]	eval-rmse:89.16075
[41]	eval-rmse:89.07595
[42]	eval-rmse:89.04048
[43]	eval-rmse:88.93772
[44]	eval-rmse:88.78564
[45]	eval-rmse:88.74244
[46]	eval-rmse:88.65211
[47]	eval-rmse:88.59865
[48]	eval-rmse:88.54716
[49]	eval-rmse:88.44565
[50]	eval-rmse:88.30777
[51]	eval-rmse:88.24323
[52]	eval-rmse:88.10064
[53]	eval-rmse:87.98998
[54]	eval-rmse:87.97817
[55]	eval-rmse:87.90889
[56]	eval-rmse:87.85365
[57]	eval-rmse:87.79416
[58]	eval-rmse:87.79712
[59]	eval-rmse:87.75094
[60]	eval-rmse:87.69222
[61]	eval-rmse:87.63781
[62]	eval-rmse:87.63734
[63]	eval-rmse:87.59783
[64]	eval-rmse:87.57656
[65]	eval-rmse:87.56687
[66]	eval-rmse:87.54955
[67]	eval-rmse:87.46919
[68]	eval-rmse:87.49370
[69]	eval-rmse:87.47461
[70]	eval-rmse:87.44180
[71]	eval-rmse:87.35546
[72]	eval-rmse:87.31562
[73]	eval-rmse:87.27818
[74]	eval-rmse:87.29230
[75]	eval-rmse:87.30311
[76]	eval-rmse:87.26025
[77]	eval-rmse:87.19939
[78]	eval-rmse:87.19996
[79]	eval-rmse:87.10468
[80]	eval-rmse:87.02318
[81]	eval-rmse:87.01275
[82]	eval-rmse:86.99369
[83]	eval-rmse:86.96230
[84]	eval-rmse:86.94523
[85]	eval-rmse:86.85943
[86]	eval-rmse:86.87685
[87]	eval-rmse:86.88525
[88]	eval-rmse:86.88211
[89]	eval-rmse:86.88503
[90]	eval-rmse:86.89355
[91]	eval-rmse:86.93998
[92]	eval-rmse:86.90071
[93]	eval-rmse:86.87362
[94]	eval-rmse:86.92048

#### Results

In [56]:
y_true = np.array(y_test, dtype=float)
y_true

array([1.22, 1.22, 1.21, ..., 1.22, 1.22, 1.24])

In [58]:
y_pred = np.array(model.predict(dtest), dtype=float)
y_pred

array([ 1.52913666,  2.5693419 , -0.32360676, ...,  2.30317998,
        1.38910449,  0.8323009 ])

In [59]:
y_true = np.array(y_test, dtype=float)
y_pred = np.array(model.predict(dtest), dtype=float)

In [60]:
r2 = r2_score(y_true, y_pred)

print("R^2 Score: {:.4f}".format(r2))

R^2 Score: 0.9385